name: Cypress Tests with Install Job and UI Chrome Job

on:
  push:
    branches:
      - main
jobs:
  install:
    runs-on: ubuntu-latest
    container: cypress/browsers:node12.18.3-chrome87-ff82
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache Cypress binary
        uses: cypress-io/github-action@v2
        with:
          cache-folder: /github/home/.cache/Cypress
      - name: Install Cypress
        run: cypress install
      - name: Cypress install
        uses: cypress-io/github-action@v5.5.1 # use the explicit version number
        with:
          # Disable running of tests within install job
          runTests: false
          build: yarn build

      - name: Save build folder
        uses: actions/upload-artifact@v3
        with:
          name: build
          if-no-files-found: error
          path: dist

  ui-chrome-tests:
    runs-on: ubuntu-latest
    container: cypress/browsers:node12.18.3-chrome87-ff82
    needs: install
    strategy:
      fail-fast: false
      matrix:
        # run copies of the current job in parallel
        containers: [1, 2, 3, 4, 5]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download the build folders
        uses: actions/download-artifact@v3
        with:
          name: build
          path: dist

      - name: 'UI Tests - Chrome'
        uses: cypress-io/github-action@v5.5.1 # use the explicit version number
        with:
          # we have already installed all dependencies above
          install: false
          start: yarn run dev
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 120
          browser: chrome
          record: true
          parallel: true
          group: 'UI - Chrome'
          spec: cypress/tests/ui/*
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          # Recommended: pass the GitHub token lets this action correctly
          # determine the unique run id necessary to re-run the checks
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
